@media (min-width: 1280px) {
  .dashboard__card-wrapper {
    flex: 1;
    max-width: 100%;
  }
}
.dashboard__card-body:hover {
  cursor: pointer;
}
.dashboard__card-count {
  font-size: 22px;
  font-weight: 600;
}
.dashboard__card-title {
  margin-top: 18px;
  font-size: 17px;
  font-weight: 600;
}
.dashboard__card-icon {
  float: right;
  margin-top: -40px;
  opacity: 0.7;
}

.chart-wrapper-empty-component {
  width: 100%;
}

.chart-wrapper-content {
  height: 40vh;
  display: flex;
  align-items: center;
}

html[dir=rtl] .dashboard__card-icon {
  float: left;
}
.charts__child-popover .popover {
  min-width: 700px;
}
.charts .custom-input-search {
  cursor: pointer;
}

.list-group {
  cursor: pointer;
}

.bg-dark {
  background-color: #8395fb !important;
  border-color: #8395fb !important;
}
