.testimonial-modal {
  max-width: 1000px;
}

.testimonial-table-row {
  cursor: pointer;
}
.testimonial-table-row__profile {
  width: 90px;
}
.testimonial-table-row__profile-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial-form {
  display: flex;
}
.testimonial-form__divider--mt-0 {
  margin-top: 0;
}
.testimonial-form__divider--mt-10 {
  margin-top: 10px;
}
.testimonial-form__switch {
  position: relative;
  height: 26px;
}

.testimonial-profile__title {
  margin-bottom: 18px;
}

@media only screen and (max-width: 700px) {
  .testimonial-form {
    flex-direction: column;
  }

  .testimonial-profile {
    flex: 100%;
    max-width: 100%;
  }

  .primary-detail {
    margin-top: 30px;
    flex: 100%;
    max-width: 100%;
  }
}
.image__holder {
  position: relative;
  width: 200px;
  margin: auto;
  border-radius: 10px;
  background: gray;
  cursor: pointer;
}
@media (max-width: 576px) {
  .image__holder {
    width: 185px;
  }
}
.image__holder .btn-secondary:focus {
  box-shadow: none !important;
  outline: none !important;
}
.image__favicon-holder {
  position: relative;
  width: 120px;
  margin: auto;
  border-radius: 10px;
  background: gray;
  cursor: pointer;
}
.image__favicon-holder .btn-secondary:focus {
  box-shadow: none !important;
  outline: none !important;
}
.image__preview {
  border-radius: 10px;
  object-fit: cover;
  text-align: center;
  width: 100%;
}
.image__favicon-preview {
  border-radius: 10px;
  object-fit: cover;
  text-align: center;
}
.image__dropdown-btn {
  background-color: #e2e2e28f !important;
  border: 0 !important;
  position: absolute;
  top: -146px;
  left: 25%;
  width: 100px;
  height: 96px;
  white-space: normal;
  font-size: 13px;
  font-weight: 700;
}
.image__favicon-dropdown-btn {
  border: 0 !important;
  position: absolute;
  top: -96px;
  left: 18%;
  width: 74px;
  height: 76px;
  white-space: normal;
  font-size: 13px;
  font-weight: 700;
}
.image__dropdown-menu {
  top: -37px !important;
  left: -32px !important;
}
.image__favicon-dropdown-menu {
  font-size: 13px;
  min-width: 70px;
  top: -37px !important;
  left: -31px !important;
}
.image__avatar {
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image__avatar-text {
  height: auto;
  background-color: #7d68f0;
  color: white;
  border-radius: 50%;
  padding: 50px;
  font-size: 50px;
}
.image__favicon-avatar {
  height: 120px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image__favicon-avatar-text {
  height: auto;
  background-color: #7d68f0;
  color: white;
  border-radius: 50%;
  padding: 50px;
  font-size: 50px;
}
